# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.RealTimeStrategy.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\GitHub\RealTimeStrategyRepository\RealTimeStrategy\.idea\.idea.RealTimeStrategy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
